go 1.23.6

use (
	.
	./adapters/vnf-operator
	./adapters/vnf-operator/api/v1alpha1
	./api/mano/v1alpha1
	./cn-dms
	./nephio-generator
	./nephio-generator/api/workload/v1alpha1
	./nephio-generator/pkg/generator
	./nephio-generator/pkg/renderer
	./o2-client
	./orchestrator
	./pkg/security
	./ran-dms
	./tn
	./tn/manager/api/v1alpha1
)
